body {
  background-color: #BEC5AD;
}

/* INDEX*/
/* Estilos CSS para a navbar */

      #navbar {
        background-color: #519872; /* verde */
        overflow: hidden;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        align-items: center;
        height: 60px;
        z-index: 3;
      }
      #navbar-logo {
        display: block;
        height: 100px;
        margin-left: 5px;
        margin-top: 11px;
      }
      #navbar a {
        display: block;
        float: left;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      #navbar a:hover {
        background-color: #3B5249; /* verde mais escuro */
        color: #fff;
        border: 5px;
        border-color: #34252F;
        border-style: ridge;
        border-radius: 25px;
      }

/* Estilos CSS para o rodapé */
      #rodape {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #519872; /* verde */
        color: #fff;
        text-align: center;
        padding: 10px;
        z-index: 4;
      }
      
/* Estilos CSS para Conteúdo Principal */
    #conteudo-principal {
        margin-top: 0px;
        margin-left: 150px;
        margin-right: 150px;
        padding: 20px;
        font-size: 18px;
        line-height: 1.5;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);        
    }
/* Estilos CSS para o logo */
    #logo {
        display:flex;
        margin: 0 auto;
        margin-top: 0;
        width: 350px;
        /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    }
    #logo:hover {/*  logo flutua suavemente */
      transform: translateY(-5px);
      transition: transform 0.2s ease-in-out;
    }
    /* INDEX COLETA SELETIVA */
    #conteudo-principalColetaSeletiva{
      margin-top: 0px;
      margin-left: 150px;
      margin-right: 150px;
      padding: 20px;
      font-size: 18px;
      line-height: 1.5;
      position: relative;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);        
  }

  #rodapeColetaSeletiva {
    position: relative;
    bottom: 0;
    left: 0%;
    right: 0%;
    width: 100%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #519872; /* verde */
    color: #fff;
    text-align: center;
    padding: 10px;
  }

    /* INDEX CONTATO */
    /* Estilo do Conteudo Principal*/
    #conteudo-principalContato {
      display: flex;
      justify-content: flex-start;
      align-items: center;    
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }
    
    .col-form {
      display: flex;
      flex-direction: column;
    }
    
    #formcontato {
      margin: 0;
    }
    
    .col-logo {
      display: flex;
      justify-content: center;
    }
    
    #logoContato {
      max-width: 100%;
      height: auto;
    }
    

    /* INDEX MAPS */